@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.container,
.avatar {
  @include display-flex(flex-start, center, 2rem);
  @include styles-font();
  width: 80%;
  height: 8vh;
}
.avatar {
  justify-content: center;
  background-color: $primary-color;
  border-radius: 0.5rem;
  width: 4rem;
  height: 4rem;
}
@media screen and (min-width: 1280px) {
  .container {
    gap: 1rem;
  }
  .avatar {
    width: 3rem;
    height: 3rem;
  }
  .name {
    font-size: $font-size-d;
  }
}
