@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.container {
  background-color: $secondary-color;
  height: 100%;
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  transform: translateX(-160%);
  transition: transform 1s ease-out;
  z-index: 2000;
  box-shadow: 0px 0px 4px 5px #00000040;
}
.containerOpen {
  transform: translateX(0%);
}
.header {
  @include display-flex(space-between);
  @include styles-font();
  padding: 0rem 0.5rem;
  height: 10vh;
  .icon {
    background-color: $primary-color;
    border-radius: 0.5rem;
    font-size: $icon-size;
    padding: 0.2rem;
  }
}
.search {
  @include display-flex();
  width: 100%;
  height: 8vh;
}
.body,
.bodyMembers {
  @include display-flex(flex-start, center, 0.8rem);
  flex-direction: column;
  width: 100%;
  height: 66vh;
  overflow: auto;
}
.body {
  margin-top: 2rem;
}
.bodyMembers {
  height: 38vh;
}
.user {
  @include display-flex(center, center, 1.2rem);
  @include styles-font($font-size, $font-weight);
  height: 10vh;
  padding-left: 0.5rem;
}
.avatar,
.name {
  @include display-flex(flex-start);
  width: 80%;
  color: $font-name-color;
  font-size: $title-size;
}
.nameContainer {
  @include display-flex();
  width: 100%;
}
.avatar {
  justify-content: center;
  background-color: $primary-color;
  width: 4rem;
  height: 4rem;
}
.iconUser {
  color: $font-color;
  font-size: $icon-size;
}
.closeButton {
  position: fixed;
  padding: 1rem;
  right: 0;
  margin-top: 0.5rem;
  margin-right: -4.4rem;
  background-color: $secondary-color;
  color: $font-color;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 2px #00000040;
}
.description {
  @include display-flex(flex-start);
  padding: 0rem 1.5rem;
  text-align: justify;
  height: 19vh;
  color: $font-color;
  overflow: auto;
}
@media screen and (min-width: 1280px) {
  .container {
    position: relative;
    transform: translateX(0%);
    width: 20%;
    box-shadow: none;
  }
  .title {
    font-size: $font-size;
  }
  .user {
    font-size: $font-size-d;
  }
  .closeButton {
    display: none;
  }
  .body {
    gap: 1rem;
  }
  .header {
    .icon {
      font-size: $icon-size-d;
    }
  }
}
