@import "../../scss/variables.scss";

.container {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  gap: 1rem;
  width: 100%;
  height: 10vh;
  background-color: $primary-color;
  font-weight: $title-weight;
  color: $font-color;
  box-shadow: 0px 4px 4px 0px #00000040;
  .title {
    font-size: $title-size;
  }
  .icon {
    font-size: $icon-size;
  }
}
