@import "./variables.scss";

@mixin display-flex($justify: center, $align: center, $gap: 0rem) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin styles-font(
  $size: $font-size,
  $weight: $title-weight,
  $color: $font-color
) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
