@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

$noto-sans: "Noto Sans";

$primary-color: #252329;
$secondary-color: #120f13;
$input-color: #3c393f;
$font-name-color: #828282;
$font-color: #e0e0e0;
$button-color: #2f80ed;

// mobile
$title-size: 1.5rem;
$name-size: 1.2rem;
$font-size: 1rem;
$icon-size: 2.3rem;
$time-size: 1rem;
$title-weight: 700;
$channel-weight: 700;
$font-weight: 500;

// desktop
$title-size-d: 1rem;
$name-size-d: 0.8rem;
$font-size-d: 0.8rem;
$icon-size-d: 1.5rem;
$time-size-d: 0.8rem;
