@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

$noto-sans: "Noto Sans";

$primary-color: #252329;
$secondary-color: #120f13;
$input-color: #3c393f;
$font-name-color: #828282;
$font-color: #e0e0e0;
$button-color: #2f80ed;

$title-size: 1.5rem;
$font-size: 1rem;
$icon-size: 2.5rem;
$time-size: 14px;
$title-weight: 700;
$channel-weight: 700;
$font-weight: 500;
